name: depup

on:
  schedule:
    - cron: "14 14 * * *" # Runs at 14:14 UTC every day
  repository_dispatch:
    types: [ depup ]
  workflow_dispatch:

# set empty default permissions and define them explicitly in each job for security
permissions: {}

jobs:

  reviewdog:
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write # for peter-evans/create-pull-request to add upgrade PRs
      contents: write # to access git (used in auto commits)

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: reviewdog/action-depup@94a1aaf4e4923064019214b48a43276218af7ad5 # v1.6.4
        id: depup
        with:
          file: Dockerfile
          version_name: REVIEWDOG_VERSION
          repo: reviewdog/reviewdog

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7.0.9
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          title: "chore(deps): update reviewdog to ${{ steps.depup.outputs.latest }}"
          commit-message: "chore(deps): update reviewdog to ${{ steps.depup.outputs.latest }}"
          body: |
            Update reviewdog to [v${{ steps.depup.outputs.latest }}](https://github.com/reviewdog/reviewdog/releases/tag/v${{ steps.depup.outputs.latest }})
            Compare [v${{ steps.depup.outputs.current }}...v${{ steps.depup.outputs.latest }}](https://github.com/reviewdog/reviewdog/compare/v${{ steps.depup.outputs.current }}...v${{ steps.depup.outputs.latest }})

            This PR is auto generated by [depup workflow](https://github.com/${{ github.repository }}/actions?query=workflow%3Adepup).
          branch: depup/reviewdog
          base: master
          labels: "bump:minor"

  checkstyle:
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write # for peter-evans/create-pull-request to add upgrade PRs
      contents: write # to access git (used in auto commits)

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: reviewdog/action-depup@94a1aaf4e4923064019214b48a43276218af7ad5 # v1.6.4
        id: depup-checkstyle
        with:
          file: Dockerfile
          version_name: CHECKSTYLE_VERSION
          repo: checkstyle/checkstyle

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7.0.9
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          title: "chore(deps): update default checkstyle to ${{ steps.depup-checkstyle.outputs.latest }}"
          commit-message: "chore(deps): update default checkstyle to ${{ steps.depup-checkstyle.outputs.latest }}"
          body: |
            Update checkstyle to [v${{ steps.depup-checkstyle.outputs.latest }}](https://github.com/checkstyle/checkstyle/releases/tag/checkstyle-${{ steps.depup-checkstyle.outputs.latest }})
            Compare [v${{ steps.depup-checkstyle.outputs.current }}...v${{ steps.depup-checkstyle.outputs.latest }}](https://github.com/checkstyle/checkstyle/compare/checkstyle-${{ steps.depup-checkstyle.outputs.current }}...checkstyle-${{ steps.depup-checkstyle.outputs.latest }})

            This PR is auto generated by [depup workflow](https://github.com/${{ github.repository }}/actions?query=workflow%3Adepup).
          branch: depup/checkstyle
          base: master
          labels: "bump:minor"
