name: Docker Image CI

on:
  push:
    branches:
      - master
  pull_request:

# set empty default permissions and define them explicitly in each job for security
permissions: {}

jobs:

  docker-build:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
      with:
        egress-policy: audit

    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag ${{ github.repository }}:$(date +%s)
