name: Test

on:
  push:
    branches:
      - master
  pull_request:

# only allow minimum required permissions at top-level
permissions:
  contents: read

jobs:

  test-check:
    name: runner / checkstyle (github-check)
    runs-on: ubuntu-latest

    permissions:
      checks: write

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-check
          level: info

  test-pr-check:
    if: github.event_name == 'pull_request'
    name: runner / checkstyle (github-pr-check)
    runs-on: ubuntu-latest

    permissions:
      checks: write

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-check
          level: warning
          workdir: ./testdata/java/

  test-pr-review:
    if: github.event_name == 'pull_request'
    name: runner / checkstyle (github-pr-review)
    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          level: error

  test-reviewdog-flags:
    if: github.event_name == 'pull_request'
    name: runner / checkstyle (reviewdog-flags)
    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          reviewdog_flags: -filter-mode=file -fail-level=warning

  test-properties-file:
    if: github.event_name == 'pull_request'
    name: runner / checkstyle (properties_file)
    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          workdir: ./testdata/java/
          checkstyle_config: ./testdata/properties_file/test_checks.xml
          properties_file: ./testdata/properties_file/additional.properties

  test-custom-checkstyle-version-9:
    if: github.event_name == 'pull_request'
    name: runner / checkstyle (v9.0)
    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          workdir: ./testdata/java/
          checkstyle_version: "9.0"

  test-custom-checkstyle-version-10:
    if: github.event_name == 'pull_request'
    name: runner / checkstyle (v10.0)
    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          workdir: ./testdata/java/
          checkstyle_version: "10.0"
