name: Test - Versions

on:
  push:
    branches:
      - master
  pull_request:

# set empty default permissions and define them explicitly in each job for security
permissions: {}

jobs:

  test-custom-checkstyle-version-9:
    if: github.event_name == 'pull_request'
    name: runner / checkstyle (v9.0)
    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          workdir: ./testdata/java/
          checkstyle_version: "9.0"

  test-custom-checkstyle-version-10:
    if: github.event_name == 'pull_request'
    name: runner / checkstyle (v10.0)
    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          workdir: ./testdata/java/
          checkstyle_version: "10.0"

  test-custom-checkstyle-version-11:
    if: github.event_name == 'pull_request'
    name: runner / checkstyle (v11.0.0)
    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          workdir: ./testdata/java/
          checkstyle_version: "11.0.0"
