name: Test - Other

on:
  push:
    branches:
      - master
  pull_request:

# set empty default permissions and define them explicitly in each job for security
permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  test-reviewdog-flags:
    if: github.event_name == 'pull_request'
    name: runner / checkstyle (reviewdog-flags)
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ./
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reviewdog_flags: -filter-mode=added -fail-level=none

  test-properties-file:
    if: github.event_name == 'pull_request'
    name: runner / checkstyle (properties_file)
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ./
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          workdir: ./testdata/java/
          checkstyle_config: ./testdata/properties_file/test_checks.xml
          properties_file: ./testdata/properties_file/additional.properties
